<table class = "menu">
    <tr>
        <td><a href="{{site.baseurl}}/">Home</a></td>
        <td><a href="{{site.baseurl}}/pong">Pong</a></td>
        <td><a href="{{site.baseurl}}/snake">Snake</a></td>
        <td><a href="{{site.baseurl}}/checkers">Checkers</a></td>
        <td><a href="{{site.baseurl}}/pong-history">Pong Game History</a></td>
        <td><a href="{{site.baseurl}}/checkersGameHistory">Checkers Game History</a></td>
        <td><a href="{{site.baseurl}}/highscore">Snake High Scores</a></td>
        <td><a href="{{site.baseurl}}/rating">Snake rating</a></td>
        <!-- <td><a href="{{site.baseurl}}/recent">Snake Recent Scores</a></td> -->
        <td><a href="{{site.baseurl}}/about">About Us</a></td>
    </tr>
</table>