
<table class = "menu">
    <tr>
        <td class = ""><a href="{{site.baseurl}}/">Home</a></td>
        <td><a href="{{site.baseurl}}/wildlife">Snake</a></td>
        <td><a href="{{site.baseurl}}/food">Tetris</a></td>
        <td><a href="{{site.baseurl}}/sports">Space Invaders?</a></td>
        <td><a href="{{site.baseurl}}/activities">Weather</a></td>
        <td><a href="{{site.baseurl}}/family-night">Where to stay</a></td>
        <td><a href="{{site.baseurl}}/gallery">Gallery</a></td>
    </tr>
</table>
