<div class = "navbar">
    <a href="{{site.baseurl}}/">Home</a>
    <a href="{{site.baseurl}}/snake">Snake</a>
    <a href="{{site.baseurl}}/spaceInvader">Space Invaders</a>
    <a href="{{site.baseurl}}/highscore">High Scores</a>
    <a href="{{site.baseurl}}/activities">Weather</a>
    <a href="{{site.baseurl}}/family-night">Where to stay</a>
    <a href="{{site.baseurl}}/gallery">Gallery</a>
</div>

<table class = "menu">
    <tr>
        <td><a href="{{site.baseurl}}/">Home</a></td>
        <td><a href="{{site.baseurl}}/snake">Snake</a></td>
        <td><a href="{{site.baseurl}}/spaceInvader">Space Invaders</a></td>
        <td><a href="{{site.baseurl}}/highscore">High Scores</a></td>
        <td><a href="{{site.baseurl}}/activities">Weather</a></td>
        <td><a href="{{site.baseurl}}/family-night">Where to stay</a></td>
        <td><a href="{{site.baseurl}}/gallery">Gallery</a></td>
    </tr>
</table>
