---
---

@import "{{ site.theme }}";

$lightgray: #d4d4d4;
$buttoncolor: #ff4800da;
$titlecolor: #eaaefc;
/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

.menu {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    td:hover {background-color: $buttoncolor};
}
body, .page-header,div,a {
    color: rgb(255, 255, 255);
}

body, header, .title {
    h1{background-color: rgba(255, 72, 0, 0.719)};
    h1{text-align: center};
}

// body, header, .title,p {
//   p{text-align: center};
// }