---
---

@import "{{ site.theme }}";

$lightgray: #d4d4d4;
$buttoncolor: #2c6d1c8a;
$titlecolor: #eaaefc;
/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

.menu {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    td:hover {background-color: $buttoncolor;};
}
body, .page-header,div,a {
    color: white;
}